# Ignore venv.
.venv
__pycache__/cj_pycrack.cpython-311.pyc
__pycache__/cj_pyscan.cpython-311.pyc
__pycache__/cj_pytest.cpython-311.pyc
__pycache__/cj_pyscrape.cpython-311.pyc
__pycache__/main.cpython-311.pyc
emails.txt
